<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>대동0ㅕ지도</title>
    <style>
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        * {
            font-family: 'Pretendard-Regular';
        }

        .nav-link {
            font-weight: bold;
        }

        .mypage {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 20px;
            margin-bottom: 0;
        }

        .mytitle {
            width: 100%;
            height: 150px;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mymessage {
            background-image: url("https://ifh.cc/g/r6xKPX.png");
            background-position: center center;
            background-size: 1000px auto;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            min-height: 300px;
        }

        .mymessage > button {
            width: 100px;
            height: 50px;

            background-color: white;
            color: black;

            border-radius: 50px;
            border: 1px solid black;

            margin-top: 30px;
        }

        .mytitle > button:hover {
            border: 2px solid white;
        }

        .mypost {
            margin: auto;
            width: 700px;
            padding: 50px;
            box-shadow: 0px 0px 3px 0px gray;
            margin-bottom: 80px;

            display: none;
        }

        .mybtns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-top: 20px;
        }

        .mybtns > button {
            margin-right: 10px;
        }

        .allpost {
            margin: auto;
            width: 95%;
            max-width: 950px;
            padding: 20px;
        }

        hr {
            width: 100%;
        }

        .mycard {
            margin: auto;
            width: 95%;
            max-width: 950px;
            padding: 20px;
        }

        .mysearch {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

    </style>

    <script>
        $(document).ready(function () {
            show_card();
        });

        {#전체 게시물 노출 함수#}

        function show_card() {
            $('#card-box').empty()
            $.ajax({
                type: 'GET',
                url: '/board/regist',
                data: {},
                success: function (response) {
                    let rows = response['cards']
                    for (let i = 0; i < rows.length; i++) {
                        let nickname = rows[i]['nickname']
                        let title = rows[i]['title']
                        let content = rows[i]['content']
                        let num = rows[i]['num']
                        let url = rows[i]['url']
                        let radio = rows[i]['radio']

                        let temp_html = `<div class="card mb-3" style="width: 100%;">
                                            <div class="row g-1">
                                                <img style="object-fit: cover; width: 35%" src="${url}" onerror= "this.onerror=null; this.src='https://edu.beti.go.kr/upload/admin/TB_UNHP_ASP_BIZP_HOME_PAGE_INF/1/1000006264.gif;jsessionid=lm3IdapdurDOr8s2ia4aSWbT5FbT4hk1mRooBZnf4VMDFZbNbpopg3n10GEFkB4D.study-was8_servlet_ulearn5';">
                                                <div style="margin-left: 10px; width: 60%; margin-top: 5%; " class="card-body">
                                                    <p>${radio}</p>
                                                    <h5 class="card-title">${title}</h5>
                                                    <p class="card-text">${content}</p>
                                                    <p class="card-text"><small class="text-muted">${nickname}</small></p>
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <div class="col">
                                                            <input id="passwordInput" type="text" class="form-control" placeholder="비밀번호" aria-label="Last name"
                                                                   style="width: 70%">
                                                        </div>
                                                        <button onclick="delete_card(${num})" class="btn btn-secondary btn-sm" type="button">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }
                }
            });
        }

        {#게시물 검색 함수#}

        function search_card() {
            $('#card-box').empty()
            let search = $('#searchTerm').val();
            console.log(search)

            $.ajax({
                type: 'GET',
                url: `/board/regist?search=${search}`,
                data: {'search': search},
                success: function (response) {
                    let rows = response['searches']
                    console.log(rows)

                    for (let i = 0; i < rows.length; i++) {
                        let nickname = rows[i]['nickname']
                        let title = rows[i]['title']
                        let content = rows[i]['content']
                        let num = rows[i]['num']
                        let url = rows[i]['url']
                        let radio = rows[i]['radio']

                        let temp_html = `<div class="card mb-3" style="width: 100%;">
                                            <div class="row g-1">
                                                <img style="object-fit: cover; width: 35%" src="${url}" onerror= "this.onerror=null; this.src='https://i.pinimg.com/564x/df/9c/f6/df9cf66c6ecc4574a166496ea11a5352.jpg';">
                                                <div style="margin-left: 10px; width: 60%; margin-top: 5%; " class="card-body">
                                                    <p>${radio}</p>
                                                    <h5 class="card-title">${title}</h5>
                                                    <p class="card-text">${content}</p>
                                                    <p class="card-text"><small class="text-muted">${nickname}</small></p>
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button onclick="delete_card(${num})" class="btn btn-secondary btn-sm" type="button">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }
                }
            });
        }


        {#게시물 DB 저장 함수#}

        function save_post() {
            let nickname = $('#nickname').val()
            let password = $('#password').val()
            let title = $('#title').val()
            let content = $('#content').val()
            let url = $('#url').val()
            let radio = $('input[name=radio]:checked').val()


            $.ajax({
                type: 'POST',
                url: '/board/regist',
                data: {
                    'nickname_give': nickname,
                    'password_give': password,
                    'title_give': title,
                    'content_give': content,
                    'url_give': url,
                    'radio_give': radio
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        {#게시물 삭제 함수#}

        function delete_card(num) {
            let passwordInput = $('#passwordInput').val()
            console.log(passwordInput)

            $.ajax({
                type: 'POST',
                url: '/board/regist/delete',
                data: {
                    'num_give': num,
                    'pw': passwordInput
                },

                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()

                }, error: function () {
                    alert('비밀번호가 일치하지 않습니다.');
                }
            });
        }

        {#게시물 작성창 관련 함수#}

        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }

        {#게시물 등록 함수#}

        function fill_post() {
            let newNickname = $('#nickname').val()
            let newPasssword = $('#password').val()
            let newTitle = $('#title').val()
            let newContent = $('#content').val()

            if (newNickname == '') {
                alert('닉네임을 입력하세요.');
                return;
            } else if (newTitle == '') {
                alert('제목을 입력하세요.');
                return;
            } else if (newContent == '') {
                alert('내용을 입력하세요.');
                return;
            } else if (newPasssword == '') {
                alert('비밀번호를 입력하세요.');
                return;
            } else if ((newPasssword.length !== 4)) {
                alert('비밀번호는 4자리로 입력해주세요.');
                $('#password').val('');
                return false;
            } else if (!/^\d+$/.test(newPasssword)) {
                alert("비밀번호는 숫자로만 입력해주세요.");
                $('#password').val('');
                return false;
            } else {
                save_post();
            }
        }

    </script>
</head>
<body>
<!-- HTML for Horizontal Menu -->
<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
        <div class="container-fluid">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/board">게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{#페이지 타이틀#}
<div class="mytitle">
    <h1 class="mypage">게시판</h1>
</div>

{#게시물 작성 안내#}
<div class="mymessage">
    <h3>제로 웨이스트를 실천하는 나만의 방법을 알려주세요!</h3>
    <p></p>
    <h5>🔊 이제는 일상이 된 나만의 팁을 공유해주세요</h5>
    <button onclick="open_box()">글쓰기</button>
</div>

{#게시물 작성창#}
<div class="mypost" id="post-box">
    <div class="row g-3">
        <div style="display: flex; flex-direction: row; margin-bottom: 10px">
            <div style="margin-right: 15px" class="form-check">
                <input value="상점 방문 후기" class="form-check-input" type="radio" name="radio" id="radioButton1" checked>
                <label class="form-check-label" for="radioButton1">
                    상점 방문 후기
                </label>
            </div>
            <div class="form-check">
                <input value="꿀팁 공유" class="form-check-input" type="radio" name="radio" id="radioButton2">
                <label class="form-check-label" for="radioButton22">
                    꿀팁 공유
                </label>
            </div>
        </div>
        <div class="col">
            <input id="nickname" type="text" class="form-control" placeholder="닉네임" aria-label="First name">
        </div>
        <div class="col">
            <input id="password" type="text" class="form-control" placeholder="비밀번호" aria-label="Last name"
                   style="width: 70%">
        </div>
        <p></p>
    </div>
    <div class="form-floating mb-3">
        <input type="url" class="form-control" id="url" placeholder="URL">
        <label for="floatingInput">이미지 URL</label>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">제목</label>
        <textarea class="form-control" id="title" rows="3" style="height: 10px"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    <div class="mybtns">
        <button type="button" class="btn btn-dark" onclick="fill_post(); _box()">기록하기</button>
        <button type="button" class="btn btn-outline-dark" onclick="close_box();_box()">닫기</button>
    </div>
</div>

{#전체 게시글 조회#}
<div class="allpost">
    <div class="mysearch">
        <p style="min-width: 150px; max-height: 10px; margin-left: 10px">전체 게시글 ({{ count }})</p>
        <div class="container-fluid">
            <form class="d-flex" role="search" style="width: 40%">
                <input id="searchTerm" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button id="btnsearch" class="btn btn-outline-success">Search</button>
            </form>
        </div>
    </div>
    <hr align="left" style="border: 1.5px;">
</div>

{#게시물 양식#}
<div class="mycard">
    <div id="card-box" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-1">
                <img style="object-fit: cover; width: 35%" src="https://ifh.cc/g/YcZCyy.jpg" alt="...">
                <div style="width: 65%; margin-top: 20px" class="card-body">
                    <p># 후기/꿀팁</p>
                    <h5 class="card-title">제목</h5>
                    <p class="card-text">내용</p>
                    <p class="card-text"><small class="text-muted">닉네임</small></p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button onclick="delete_card(${num})" class="btn btn-secondary btn-sm" type="button">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-1">
                <img style="object-fit: cover; width: 35%" src="https://ifh.cc/g/YcZCyy.jpg" alt="...">
                <div style="width: 65%; margin-top: 20px" class="card-body">
                    <p># 후기/꿀팁</p>
                    <h5 class="card-title">제목</h5>
                    <p class="card-text">내용</p>
                    <p class="card-text"><small class="text-muted">닉네임</small></p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button onclick="delete_card(${num})" class="btn btn-secondary btn-sm" type="button">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-1">
                <img style="object-fit: cover; width: 35%" src="https://ifh.cc/g/YcZCyy.jpg" alt="...">
                <div style="width: 65%; margin-top: 20px" class="card-body">
                    <p># 후기/꿀팁</p>
                    <h5 class="card-title">제목</h5>
                    <p class="card-text">내용</p>
                    <p class="card-text"><small class="text-muted">닉네임</small></p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button onclick="delete_card(${num})" class="btn btn-secondary btn-sm" type="button">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>