<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>대동0ㅕ지도</title>
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .nav-link {
            font-weight: bold;
        }

        #mapwrap{position:relative;overflow:hidden;}
        .category, .category *{margin:0;padding:0;color:#000;}
        .category {position:absolute;overflow:hidden;top:10px;left:10px;width:400px;height:60px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
        .category .menu_selected {background:#FF5F4A;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;}
        .category li{list-style:none;float:left;width:80px;height:60px;padding-top:5px;cursor:pointer;}
        .category .ico_comm {display:block;margin:0 auto 2px;width:22px;height:26px;background:url('https://i.ibb.co/qFyCPzK/mapicon.png') no-repeat;}
        .category .ico_all {background-position:-10px 0;}
        .category .ico_cafe {background-position:-10px -36px;}
        .category .ico_shop {background-position:-10px -72px;}
        .category .ico_household {background-position:-10px -108px;}
        .category .ico_etc {background-position:-10px -144px;}

        .wrap {position: absolute;left: 0;bottom: 30px;width: 240px;height: 132px;margin-left: -120px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
        .wrap * {padding: 0;margin: 0;}
        .wrap .info {width: 240px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
        .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
        .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 14px;font-weight: bold;}
        .info .close {position: absolute;top: 8px;right: 10px;color: #888;width: 15px;height: 15px;background: url('https://i.postimg.cc/Cxz6bGfg/close.png');}
        .info .close:hover {cursor: pointer;}
        .info .body {position: relative;overflow: hidden;}
        .info .desc {position: relative;margin: 13px 0 0 13px;height: 75px;}
        .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
        .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
        .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        .info .link {color: #5085BB;}
    </style>
</head>
<body>
    <!-- HTML for Horizontal Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="/">
      <img src={{ url_for('static', filename='images/logo.png') }} alt="logo">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/board">게시판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="mapwrap">
    <!-- 지도가 표시될 div -->
    <div id="map" style="width:100%;height:1000px;"></div>
    <!-- 지도 위에 표시될 마커 카테고리 -->
        <div class="category">
            <ul>
                <li id="allMenu" onclick="changeMarker('all')">
                    <span class="ico_comm ico_all"></span>
                    전체
                </li>
                <li id="cafeMenu" onclick="changeMarker('cafe')">
                    <span class="ico_comm ico_cafe"></span>
                    카페/식당
                </li>
                <li id="shopMenu" onclick="changeMarker('shop')">
                    <span class="ico_comm ico_shop"></span>
                    리필샵
                </li>
                <li id="householdMenu" onclick="changeMarker('household')">
                    <span class="ico_comm ico_household"></span>
                    생필품점
                </li>
                <li id="etcMenu" onclick="changeMarker('etc')">
                    <span class="ico_comm ico_etc"></span>
                    기타
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9b16bb18fadb4010e3a075c836c12861"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.498004414546934, 127.02770621963765), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 카페식당 마커가 표시될 좌표 배열입니다
    var cafePositions = [
        new kakao.maps.LatLng(37.499590490909185, 127.0263723554437),
        new kakao.maps.LatLng(37.499427948430814, 127.02794423197847),
        new kakao.maps.LatLng(37.498553760499505, 127.02882598822454),
        new kakao.maps.LatLng(37.497625593121384, 127.02935713582038),
        new kakao.maps.LatLng(37.49646391248451, 127.02675574250912),
        new kakao.maps.LatLng(37.49629291770947, 127.02587362608637),
        new kakao.maps.LatLng(37.49754540521486, 127.02546694890695)
    ];

    // 리필샵 마커가 표시될 좌표 배열입니다
    var shopPositions = [
        new kakao.maps.LatLng(37.497535461505684, 127.02948149502778),
        new kakao.maps.LatLng(37.49671536281186, 127.03020491448352),
        new kakao.maps.LatLng(37.496201943633714, 127.02959405469642),
        new kakao.maps.LatLng(37.49640072567703, 127.02726459882308),
        new kakao.maps.LatLng(37.49640098874988, 127.02609983175294),
        new kakao.maps.LatLng(37.49932849491523, 127.02935780247945),
        new kakao.maps.LatLng(37.49996818951873, 127.02943721562295)
    ];

    // 생필품점 마커가 표시될 좌표 배열입니다
    var householdPositions = [
        new kakao.maps.LatLng(37.49966168796031, 127.03007039430118),
        new kakao.maps.LatLng(37.499463762912974, 127.0288828824399),
        new kakao.maps.LatLng(37.49896834100913, 127.02833986892401),
        new kakao.maps.LatLng(37.49893267508434, 127.02673400572665),
        new kakao.maps.LatLng(37.49872543597439, 127.02676785815386),
        new kakao.maps.LatLng(37.49813096097184, 127.02591949495914),
        new kakao.maps.LatLng(37.497680616783086, 127.02518427952202)
    ];

    var etcPositions = [
        new kakao.maps.LatLng(37.49721078809879, 127.03070268983136),
        new kakao.maps.LatLng(37.49840222163074, 127.02110207359988),
        new kakao.maps.LatLng(37.49912241856842, 127.02426874854118),
        new kakao.maps.LatLng(37.50070737696225, 127.02794470877437),
        new kakao.maps.LatLng(37.496301661754885, 127.02706101153493),
        new kakao.maps.LatLng(37.49703089508693, 127.02949260518679),
        new kakao.maps.LatLng(37.498284283798235, 127.02521840836066)
    ];

    var markerImageSrc = 'https://i.ibb.co/hMrXPNS/mapicon.png';  // 마커이미지의 주소입니다. 스프라이트 이미지 입니다
        cafeMarkers = [], // 카페식당 마커 객체를 가지고 있을 배열입니다
        shopMarkers = [], // 리필샵 마커 객체를 가지고 있을 배열입니다
        householdMarkers = []; // 생필품점 마커 객체를 가지고 있을 배열입니다
        etcMarkers = []; // 기타 마커 객체를 가지고 있을 배열입니다

        createCafeMarkers(); // 카페식당 마커를 생성하고 카페식당 마커 배열에 추가합니다
        createShopMarkers(); // 리필샵 마커를 생성하고 리필샵 마커 배열에 추가합니다
        createHouseholdMarkers(); // 생필품점 마커를 생성하고 생필품점 마커 배열에 추가합니다
        createEtcMarkers(); // 기타 마커를 생성하고 기타 마커 배열에 추가합니다

        changeMarker('all'); // 지도에 전체 마커가 보이도록 설정합니다


    // 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
    function createMarkerImage(src, size, options) {
        var markerImage = new kakao.maps.MarkerImage(src, size, options);
        return markerImage;
    }

    // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
    function createMarker(position, image) {
        var marker = new kakao.maps.Marker({
            position: position,
            image: image
        });

        return marker;
    }

    // 카페식당 마커를 생성하고 카페식당 마커 배열에 추가하는 함수입니다
    function createCafeMarkers() {
        for (var i = 0; i < cafePositions.length; i++) {

            var imageSize = new kakao.maps.Size(19, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 0),
                    spriteSize: new kakao.maps.Size(36, 134)
                };

            // 마커이미지와 마커를 생성합니다
            var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(cafePositions[i], markerImage);

            // 생성된 마커를 카페식당 마커 배열에 추가합니다
            cafeMarkers.push(marker);
        }
    }

    // 카페식당 마커들의 지도 표시 여부를 설정하는 함수입니다
    function setCafeMarkers(map) {
        for (var i = 0; i < cafeMarkers.length; i++) {
            cafeMarkers[i].setMap(map);
        }
    }

    // 리필샵 마커를 생성하고 리필샵 마커 배열에 추가하는 함수입니다
    function createShopMarkers() {
        for (var i = 0; i < shopPositions.length; i++) {

            var imageSize = new kakao.maps.Size(19, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 36),
                    spriteSize: new kakao.maps.Size(36, 134)
                };

            // 마커이미지와 마커를 생성합니다
            var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(shopPositions[i], markerImage);

            // 생성된 마커를 리필샵 마커 배열에 추가합니다
            shopMarkers.push(marker);
        }
    }

    // 리필샵 마커들의 지도 표시 여부를 설정하는 함수입니다
    function setShopMarkers(map) {
        for (var i = 0; i < shopMarkers.length; i++) {
            shopMarkers[i].setMap(map);
        }
    }

    // 생필품점 마커를 생성하고 생필품점 마커 배열에 추가하는 함수입니다
    function createHouseholdMarkers() {
        for (var i = 0; i < householdPositions.length; i++) {

            var imageSize = new kakao.maps.Size(19, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 72),
                    spriteSize: new kakao.maps.Size(36, 134)
                };

            // 마커이미지와 마커를 생성합니다
            var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(householdPositions[i], markerImage);

            // 생성된 마커를 생필품점 마커 배열에 추가합니다
            householdMarkers.push(marker);
        }
    }

    // 생필품점 마커들의 지도 표시 여부를 설정하는 함수입니다
    function setHouseholdMarkers(map) {
        for (var i = 0; i < householdMarkers.length; i++) {
            householdMarkers[i].setMap(map);
        }
    }

    // 기타 마커를 생성하고 생필품점 마커 배열에 추가하는 함수입니다
    function createEtcMarkers() {
        for (var i = 0; i < etcPositions.length; i++) {

            var imageSize = new kakao.maps.Size(19, 26),
                imageOptions = {
                    spriteOrigin: new kakao.maps.Point(10, 108),
                    spriteSize: new kakao.maps.Size(36, 134)
                };

            // 마커이미지와 마커를 생성합니다
            var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
                marker = createMarker(etcPositions[i], markerImage);

            // 생성된 마커를 생필품점 마커 배열에 추가합니다
            etcMarkers.push(marker);
        }
    }

    // 기타 마커들의 지도 표시 여부를 설정하는 함수입니다
    function setEtcMarkers(map) {
        for (var i = 0; i < etcMarkers.length; i++) {
            etcMarkers[i].setMap(map);
        }
    }

    // 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
    function changeMarker(type){
        var allMenu = document.getElementById('allMenu');
        var cafeMenu = document.getElementById('cafeMenu');
        var shopMenu = document.getElementById('shopMenu');
        var householdMenu = document.getElementById('householdMenu');
        var etcMenu = document.getElementById('etcMenu');

        // 전체 카테고리가 클릭됐을 때
        if (type === 'all') {

            // 전체 카테고리를 선택된 스타일로 변경하고
            allMenu.className = 'menu_selected';

            // 리필샵과 생필품점 카테고리는 선택되지 않은 스타일로 바꿉니다
            cafeMenu.className = '';
            shopMenu.className = '';
            householdMenu.className = '';
            etcMenu.className = '';

            // 카페식당 마커들만 지도에 표시하도록 설정합니다
            setCafeMarkers(map);
            setShopMarkers(map);
            setHouseholdMarkers(map);
            setEtcMarkers(map);

        } else if (type === 'cafe') {

            // 카페식당 카테고리를 선택된 스타일로 변경하고
            cafeMenu.className = 'menu_selected';

            // 리필샵과 생필품점 카테고리는 선택되지 않은 스타일로 바꿉니다
            allMenu.className = '';
            shopMenu.className = '';
            householdMenu.className = '';
            etcMenu.className = '';

            // 카페식당 마커들만 지도에 표시하도록 설정합니다
            setCafeMarkers(map);
            setShopMarkers(null);
            setHouseholdMarkers(null);
            setEtcMarkers(null);

        } else if (type === 'shop') { // 리필샵 카테고리가 클릭됐을 때

            // 리필샵 카테고리를 선택된 스타일로 변경하고
            allMenu.className = '';
            cafeMenu.className = '';
            shopMenu.className = 'menu_selected';
            householdMenu.className = '';
            etcMenu.className = '';

            // 리필샵 마커들만 지도에 표시하도록 설정합니다
            setCafeMarkers(null);
            setShopMarkers(map);
            setHouseholdMarkers(null);
            setEtcMarkers(null);

        } else if (type === 'household') { // 생필품점 카테고리가 클릭됐을 때

            // 생필품점 카테고리를 선택된 스타일로 변경하고
            allMenu.className = '';
            cafeMenu.className = '';
            shopMenu.className = '';
            householdMenu.className = 'menu_selected';
            etcMenu.className = '';

            // 생필품점 마커들만 지도에 표시하도록 설정합니다
            setCafeMarkers(null);
            setShopMarkers(null);
            setHouseholdMarkers(map);
            setEtcMarkers(null);

        }  else if (type === 'etc') { // 기타 카테고리가 클릭됐을 때

            // 기타 카테고리를 선택된 스타일로 변경하고
            allMenu.className = '';
            cafeMenu.className = '';
            shopMenu.className = '';
            householdMenu.className = '';
            etcMenu.className = 'menu_selected';

            // 기타 마커들만 지도에 표시하도록 설정합니다
            setCafeMarkers(null);
            setShopMarkers(null);
            setHouseholdMarkers(null);
            setEtcMarkers(map);
        }
    }

    var markerPositions = [
        {
            latlng: new kakao.maps.LatLng(37.499590490909185, 127.0263723554437),
               // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            content: '<div class="wrap">' +
            '    <div class="info">' +
            '        <div class="title">' +
            '            카카오 스페이스닷원1' +
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
            '        </div>' +
            '        <div class="body">' +
            '            <div class="desc">' +
            '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>' +
            '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>' +
            '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>' +
            '            </div>' +
            '        </div>' +
            '    </div>' +
            '</div>'
        },
                {
            latlng: new kakao.maps.LatLng(37.499427948430814, 127.02794423197847),
               // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            content: '<div class="wrap">' +
            '    <div class="info">' +
            '        <div class="title">' +
            '            카카오 스페이스닷원2' +
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
            '        </div>' +
            '        <div class="body">' +
            '            <div class="desc">' +
            '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>' +
            '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>' +
            '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>' +
            '            </div>' +
            '        </div>' +
            '    </div>' +
            '</div>'
        },
       {
            latlng: new kakao.maps.LatLng(37.498553760499505, 127.02882598822454),
               // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            content: '<div class="wrap">' +
            '    <div class="info">' +
            '        <div class="title">' +
            '            카카오 스페이스닷원3' +
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
            '        </div>' +
            '        <div class="body">' +
            '            <div class="desc">' +
            '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>' +
            '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>' +
            '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>' +
            '            </div>' +
            '        </div>' +
            '    </div>' +
            '</div>'
        }
        ] // 마커가 표시될 위치입니다

    var imageSrc = 'https://i.postimg.cc/PJKHBXSk/transparenticon.png'; // 마커이미지의 주소입니다
    for (var i = 0; i < markerPositions.length; i ++) {
        var imageSize = new kakao.maps.Size(19, 26) // 마커이미지의 크기입니다

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 지도에 마커를 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: markerPositions[i].latlng,
            image: markerImage // 마커이미지 설정
        });

        // 커스텀 오버레이를 생성합니다
        var overlay = new kakao.maps.CustomOverlay({
            map: map,
            position: markerPositions[i].latlng,
            content: markerPositions[i].content
        });

        // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            overlay.setMap(map);
        });

        // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
        function closeOverlay() {
            overlay.setMap(null);
        }
    }


    </script>
</body>
</html>